---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import "../styles/blog.css";

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="SpBarber's Blog RSS Feed"
      href={new URL("rss.xml", Astro.site)}
    />
    <title>{title}</title>

    <ClientRouter />
  </head>
  <body class="bg-gray-900">
    <main class="my-10 max-w-5xl text-amber-200 m-auto px-5">
      <a href="/" class="text-amber-200" id="btn-go-back">Volver al home</a>
      <slot />
    </main>
  </body>
</html>
